{% extends "base.html" %}
{% block head %}
    {% load static %}
{% block title %}<title>Profesores - ProfeRank</title>{% endblock title %}
{% endblock head %}
{% block controls %}
    {% include "controls/professor_list_controls.html" %}
{% endblock controls %}
{% block content %}
    <section>
        <div class="flex flex-col">
            <h1 class="text-3xl font-bold text-gray-900 text-center my-2">Lista de Profesores</h1>
            <div class="flex flex-col md:hidden justify-center items-center md:space-x-4">
                <label for="add" class="text-gray-700 font-bold">👨‍🏫</label>
                <a href="{% url 'professors:create_professor' %}"
                class="bg-indigo-600 py-2 px-4 rounded-md text-white font-bold">+profesor</a>
            </div>
        </div>
        <div class="container flex flex-col md:flex-row md:flex-wrap md:mx-auto md:items-center md:justify-center">
            {% for professor in professors %}
                <div class="flex toggle flex-col rounded-lg p-6 m-4 shadow-md border border-gray-200 md:w-3/12 md:hover:animate-pulse md:hover:bg-gray-200"
                     data-college="{{ professor.college }}"
                     data-department="{{ professor.department }}"
                     data-name="{{ professor.first_name }} {{ professor.last_name }}">
                    <a href="{{ professor.pk }}" class="space-y-2">
                        <div class="flex flex-row space-x-1 items-center md:text-2xl">
                            <p class="font-bold text-gray-900">{{ professor.first_name }} {{ professor.last_name }}</p>
                        </div>
                        <div class="flex flex-col justify-start items-start md:text-md">
                            <p>
                                <span class="font-bold text-gray-700">Universidad:</span> <span class="text-gray-600">{{ professor.college }}</span>
                            </p>
                            <p>
                                <span class="font-bold text-gray-700">Departamento:</span> <span class="text-gray-600">{{ professor.department }}</span>
                            </p>
                            <p>
                                <span class="font-bold text-gray-700">Dificultad:</span> <span class="text-gray-600">{{ professor.difficulty }}</span>
                            </p>
                            </div>
                        </a>
                    </div>
                {% endfor %}
            </div>
        </section>
    {% endblock content %}
    {% block scripts %}
        <script src="{% static 'js/filter.js' %}"></script>
    {% endblock scripts %}
