{% extends 'base.html' %}
{% block head %}
    {% load static %}
    {% block title %}<title>{{ profesor.first_name }}</title>{% endblock %}
{% endblock %}
{% block content %}
    <!-- Professor details card -->
    <section class="flex flex-col items-center justify-center mt-12">
        <!-- Card header -->
        <div class="flex flex-row items-center">
            <!-- Professor name -->
            <h1 class="text-3xl font-bold text-gray-800">{{ professor.first_name }} {{ professor.last_name }}</h1>
            <!-- University logo -->
            <img class="w-10 h-10 ml-2 rounded-full"
                 src="{% static 'img/upr_logo.jpg' %}"
                 alt="University logo">
        </div>
        <!-- Average Statistics -->
        <div class="flex flex-col items-center justify-between w-9/12 md:w-1/2 p-4 mt-8 rounded-xl border border-gray-200 shadow-md">
            <div>
                <h2 class="text-2xl font-bold text-gray-800 md:text-3xl">Estadísticas</h2>
                <hr class=" border-gray-300">
            </div>
            <div class="flex flex-col mt-4 justify-start items-start space-y-2 md:space-y-0 md:justify-between md:items-center md:flex-row md:w-3/4">
                <div class="flex flex-row items-center justify-center md:flex-col">
                    <h2 class="hidden text-2xl font-bold text-gray-800 md:block">Dificultad</h2>
                    <h2 class="hidden text-2xl font-bold text-gray-800 md:block">{{ professor.difficulty }}</h2>
                    <h2 class="text-lg font-bold text-gray-800 md:hidden">Dificultad: {{ professor.difficulty }}</h2>
                </div>
                <!-- difficulty -->
                <div class="flex flex-row items-center justify-center md:flex-col">
                    <h2 class="hidden md:block text-2xl font-bold text-gray-800">Nota</h2>
                    <h2 class="hidden md:block text-2xl font-bold text-gray-800">{{ professor.grade }}</h2>
                    <h2 class="text-lg font-bold text-gray-800 md:hidden">Nota: {{ professor.grade }}</h2>
                </div>
                <!-- workload -->
                <div class="flex flex-row items-center justify-center md:flex-col">
                    <h2 class="hidden md:block text-2xl font-bold text-gray-800"">Organizado
                    </h2>
                    <h2 class="hidden md:block text-2xl font-bold text-gray-800"">
                    {{ professor.organized }}</h2>
                    <h2 class="text-lg font-bold text-gray-800 md:hidden">Organizado: {{ professor.organized }}</h2>
                </div>
                <!-- pro student -->
                <div class="flex flex-row items-center justify-center  md:flex-col">
                    <h2 class="hidden md:block text-2xl font-bold text-gray-800"">
                        Pro estudiante
                    </h2>
                    <h2 class="hidden md:block text-2xl font-bold text-gray-800"">
                        {{ professor.pro_student }}
                    </h2>
                    <h2 class="text-lg font-bold text-gray-800 md:hidden">Pro estudiante: {{ professor.pro_student }}</h2>
                </div>
            </div>
        </div>
    </section>
    <!-- Courses by this professor -->
    <section class="flex flex-col justify-center items-center mt-12">
        <!-- header -->
        <div class="flex flex-row">
            <h1 class="text-3xl font-bold text-gray-800">Cursos</h1>
            {% if user.is_authenticated %}
                <button class="flex flex-row items-center justify-center ml-1 px-2 rounded-md shadow-md border border-gray-200 bg-indigo-600 hover:bg-indigo-500 text-lg font-bold text-white"
                        id="toggle-course-form">
                    <p>+</p>
                </button>
            {% endif %}
        </div>
        {% if user.is_authenticated %}
            <div class="hidden flex-col items-center justify-center p-4"
                 id="course-form">
                <p class="text-xl font-bold text-gray-600">Añade un curso a la plataforma</p>
                <form action="{% url 'courses:create_course' %}"
                      method="POST"
                      class="flex flex-col items-center justify-center space-y-4 mt-4">
                    <p class="text-red-500 text-xl font-bold" id="course-form-error"></p>
                    {% csrf_token %}
                    <div class="flex flex-col items-center justify-center space-y-2">
                        <label for="name" class="text-xl font-bold text-gray-600">Nombre</label>
                        <input type="name"
                               name="name"
                               id="course-name"
                               placeholder="Ej: Literatura en la era digital"
                               class="w-96 h-10 rounded-xl border-2 border-gray-300 focus:border-indigo-600 focus:outline-none px-4"/>
                        <input type="hidden" name="professor" value="{{ professor.id }}"/>
                    </div>
                    <div class="flex flex-col items-center justify-center space-y-2">
                        <label for="codification" class="text-xl font-bold text-gray-600">Codificación</label>
                        <input type="codification"
                               name="codification"
                               placeholder="Ej: LITE3033"
                               id="course-code"
                               class="w-96 h-10 rounded-xl border-2 border-gray-300 focus:border-indigo-600 focus:outline-none px-4"/>
                    </div>
                    <div class="flex flex-col items-center justify-center space-y-2">
                        <input type="submit"
                               id="course-form-submit"
                               value="Ingresar"
                               class="w-96 cursor-not-allowed h-10 rounded-xl bg-gray-400 text-white font-bold text-xl"/>
                    </div>
                </form>
            </div>
        {% endif %}
        <!-- courses -->
        <div class="flex flex-row justify-center items-center w-3/4 flex-wrap">
            {% for course in courses %}
                <div class="flex toggle course flex-col rounded-lg p-6 m-4 shadow-md border border-gray-200  md:w-3/12 md:hover:animate-pulse"
                     data-college="{{ course.college }}"
                     data-faculty="{{ course.faculty }}"
                     data-name="{{ course.name }}">
                    <a href="{% url 'courses:specific_course' course.pk %}"
                       class="space-y-2">
                        <!-- header -->
                        <div class="flex flex-col space-x-1 items-start md:text-2xl">
                            <p class="font-bold text-gray-900">{{ course.name }}</p>
                        </div>
                        <!-- body -->
                        <div class="flex flex-col justify-start items-start md:text-md">
                            <p class="flex flex-row">
                                <span class="font-bold text-gray-700">Dificultad:</span> <span class="text-gray-600">{{ course.difficulty_letter }}</span>
                            </p>
                            <p>
                                <span class="font-bold text-gray-700">Facultad:</span> <span class="text-gray-600">{{ course.faculty }}</span>
                            </p>
                            <p>
                                <span class="font-bold text-gray-700">Codificación:</span> <span class="text-gray-600">{{ course.codification }}</span>
                            </p>
                        </div>
                    </a>
                </div>
            {% endfor %}
            {% if courses|length == 0 %}
                <div class="flex flex-col justify-center items-center my-8 w-3/4">
                    <p class="text-gray-400">
                        No hay cursos disponibles
                    </p>
                </div>
            {% endif %}
        </div>
    </section>
    <!-- Comments section -->
    <section class="flex flex-col justify-center items-center mt-12">
        <div class="flex flex-row">
            <h1 class="text-3xl font-bold text-gray-800">
                Comentarios
            </h1>
            <p class="text-lg font-bold text-gray-800 ml-1">
                ({{ comments|length }})
            </p>
        </div>
        <div class="my-2">
            <p class="text-sm text-gray-400">
                Para poder comentar, selececiona un curso en específico.
            </p>
        </div>
        <div class="flex flex-col justify-center items-center md:w-9/12">
            {% for comment in comments %}
                <div class="flex flex-col my-6 w-3/4 space-y-4 p-4 border border-gray-200 shadow-md rounded-xl">
                    <div class="flex justify-between">
                        <p class="text-2xl font-bold text-gray-900">
                            {{ comment.user }} - {{ comment.course }}
                        </p>
                        <p class=" font-bold text-gray-900">
                            {{ comment.time_since_str }}
                        </p>
                    </div>
                    <div>
                        <p class="text-lg text-gray-800">
                            {{ comment.text }}
                        </p>
                    </div>
                    <div class="flex justify-end items-end">
                        <p>
                            {{ comment.score }}
                        </p>
                        <button class="flex flex-row items-center like-button"
                                data-comment-id="{{ comment.pk }}">
                            <svg xmlns="http://www.w3.org/2000/svg"
                                 viewBox="0 0 20 20"
                                 fill="currentColor"
                                 class="w-5 h-5">
                                <path fill-rule="evenodd" d="M10 17a.75.75 0 01-.75-.75V5.612L5.29 9.77a.75.75 0 01-1.08-1.04l5.25-5.5a.75.75 0 011.08 0l5.25 5.5a.75.75 0 11-1.08 1.04l-3.96-4.158V16.25A.75.75 0 0110 17z" clip-rule="evenodd" />
                            </svg>
                        </button>
                        <button class="flex flex-row items-center ml-1 dislike-button"
                                data-comment-id="{{ comment.pk }}">
                            <svg xmlns="http://www.w3.org/2000/svg"
                                 viewBox="0 0 20 20"
                                 fill="currentColor"
                                 class="w-5 h-5">
                                <path fill-rule="evenodd" d="M10 3a.75.75 0 01.75.75v10.638l3.96-4.158a.75.75 0 111.08 1.04l-5.25 5.5a.75.75 0 01-1.08 0l-5.25-5.5a.75.75 0 111.08-1.04l3.96 4.158V3.75A.75.75 0 0110 3z" clip-rule="evenodd" />
                            </svg>
                        </button>
                    </div>
                </div>
            {% endfor %}
            {% if comments|length == 0 %}
                <div class="flex flex-col justify-center items-center my-8">
                    <p class="text-gray-400 text-center">
                        No hay comentarios disponibles
                    </p>
                </div>
            {% endif %}
        </div>
    </section>
{% endblock %}
{% block scripts %}
    <script>var csrftoken = '{{ csrf_token }}';</script>
    <script src="{% static 'js/professor.js' %}"></script>
    <script src="{% static 'js/likedislike.js' %}"></script>
{% endblock %}
