# ignore all cpython files
*.pyc
*.pyo
*.pyd
*.so
*.dylib
*.dll

# ignore migrations
**/migrations/**
!**/migrations
**/**/migrations/**

# ignore all Mac OS files
.DS_Store


# ignore sqlite3 database
*.sqlite3

# ignore static images
/static/img/**



.vscode/settings.json
