[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
factory-boy = "*"
django-crispy-forms = "*"
crispy-bootstrap5 = "*"
black = "*"
djlint = "*"
django-tailwind = "*"
psycopg2-binary = "*"
social-auth-app-django = "*"

[dev-packages]

[requires]
python_version = "3.10"
