.container {
    justify-content: space-between;
    margin-top: 1rem;
}

.professors {
    width: 95%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}

.card-title {
    color: red; 
    font-size: large;
}

.card-link {
    color: black; 
    text-decoration: none;
}

.card-link:hover {
    color: rgb(150, 32, 32); 
    text-decoration: none;
}

.card-text {
    margin-bottom: 0.5rem;
}

.professor {
    max-width: 33%;
}