{% extends "base.html" %}
{% block head %}
    {% load static %}
{% block title %}<title>{{ course.name }} - {{ course.codification }}</title>{% endblock title %}
{% endblock head %}
{% block content %}
    <section class="flex flex-col items-center justify-center mt-12">
        <div class="flex flex-col items-center">
            <div class="flex flex-row items-center justify-center">
                <a href="{% url 'professors:specific_professor' course.professor.pk %}">
                    <h1 class="text-3xl font-bold text-gray-800">{{ course.professor.first_name }} {{ course.professor.last_name }}</h1>
                </a>
            </div>
            <div class="flex flex-row items-center justify-center text-center">
                {% if course.codification %}
                    <h2 class="text-lg font-bold text-gray-600">{{ course.name }} - {{ course.codification }}</h2>
                {% else %}
                <div class="flex flex-col">
                    <h2 class="text-lg font-bold text-gray-600">{{ course.name }}</h2>
                    <button class="flex flex-row items-center justify-center ml-1 px-2 rounded-md shadow-md border border-gray-200 bg-indigo-600 hover:bg-indigo-500 text-lg font-bold text-white"
                            id="toggle-course-codification-form">
                        <p>añadir codificación</p>
                    </button>
                    <p id="course-codification-error" class="text-red-500 text-center"></p>
                    <form action="{% url 'courses:add_course_codification' pk=course.pk %}" method="post" class="hidden py-4 justify-center items-center" id="course-codification-form">
                        {% csrf_token %}
                        <div class="flex flex-row items-center justify-center">
                            <input type="text" id="course-code" name="codification" class="flex flex-row items-center justify-center w-1/2 p-2 rounded-md shadow-md border border-gray-200 bg-gray-100 text-lg font-bold text-gray-800" placeholder="Codificación"/>
                            <button type="submit" id="submit-course-codification" class="flex flex-row items-center justify-center ml-1 p-2 rounded-md shadow-md border border-gray-200 bg-indigo-600 hover:bg-indigo-500 text-lg font-bold text-white">
                                <p>añadir</p>
                            </button>
                        </div>
                    </form>
                </div>
                {% endif %}
            </div>
        </div>
        <div class="flex flex-col items-center justify-between w-10/12 md:w-1/2 p-4 mt-8 rounded-xl border border-gray-200 shadow-md">
            <div class="flex flex-row">
                <div class="flex flex-col">
                    <h2 class="text-2xl font-bold text-gray-800 md:text-2xl">Estadísticas</h2>
                    <hr class=" border-gray-300"/>
                </div>
                {% if user.is_authenticated and not user_rated %}
                    <div class="flex flex-col ml-4">
                        <a href="{% url 'reviews:rate_course' pk=course.pk %}"
                           class="flex flex-row items-center justify-center px-2 py-1 rounded-md shadow-md border border-gray-200 bg-indigo-600 hover:bg-indigo-500 text-lg font-bold text-white">
                            <p class="hidden md:block">Calificar 📝</p>
                            <p class="md:hidden">📝</p>
                        </a>
                    </div>
                {% endif %}
            </div>
            {% if course.review_count > 0 %}
                <div class="flex flex-col mt-4 justify-start items-start space-y-2 md:space-y-0 md:justify-between md:items-center md:flex-row md:w-3/4">
                    <div class="flex flex-row items-center justify-center md:flex-col">
                        <h2 class="hidden text-xl font-bold text-gray-800 md:block">Dificultad</h2>
                        <h2 class="hidden text-xl font-bold text-gray-800 md:block">{{ course.difficulty_letter }}</h2>
                        <h2 class="text-lg font-bold text-gray-800 md:hidden">Dificultad: {{ course.difficulty_letter }}</h2>
                    </div>
                    <div class="flex flex-row items-center justify-center md:flex-col">
                        <h2 class="hidden md:block text-xl font-bold text-gray-800">Nota</h2>
                        <h2 class="hidden md:block text-xl font-bold text-gray-800">{{ course.grade_letter }}</h2>
                        <h2 class="text-lg font-bold text-gray-800 md:hidden">Nota: {{ course.grade_letter }}</h2>
                    </div>
                    <div class="flex flex-row items-center justify-center md:flex-col">
                        <h2 class="hidden md:block text-xl font-bold text-gray-800"">Organizado
                        </h2>
                        <h2 class="hidden md:block text-xl font-bold text-gray-800"">
                        {{ course.organized_letter }}</h2>
                        <h2 class="text-lg font-bold text-gray-800 md:hidden">Organizado: {{ course.organized_letter }}</h2>
                    </div>
                    <div class="flex flex-row items-center justify-center  md:flex-col">
                        <h2 class="hidden md:block text-xl font-bold text-gray-800"">
                            Recomendado
                        </h2>
                        <h2 class="hidden md:block text-xl font-bold text-gray-800"">
                            {{ course.recommended_letter }}
                        </h2>
                        <h2 class="text-lg font-bold text-gray-800 md:hidden">Recomendado: {{ course.recommended_letter }}</h2>
                    </div>
                </div>
            {% else %}
                <div class="flex flex-col items-center justify-center mt-4">
                    <h2 class="text-lg font-bold text-gray-800">No hay estadísticas disponibles</h2>
                </div>
            {% endif %}
        </div>
    </section>
    <section class="flex flex-col justify-center items-center mt-12">
        <div class="flex flex-row">
            <h1 class="text-3xl font-bold text-gray-800">Comentarios</h1>
            {% if not user_commented and user.is_authenticated %}
                <button class="flex flex-row items-center justify-center ml-1 px-2 rounded-md shadow-md border border-gray-200 bg-indigo-600 hover:bg-indigo-500 text-lg font-bold text-white"
                        id="toggle-comment-form">
                    <p>+</p>
                </button>
            {% endif %}
        </div>
        {% if user.is_authenticated %}
            <form action="{% url 'comments:course_comment' course.pk %}"
                  method="post"
                  class="hidden flex-col justify-center items-center mt-4 md:w-1/3"
                  id="comment-form">
                {% csrf_token %}
                <label for="comment" class="sr-only">Comentario</label>
                <textarea name="text"
                          id="comment-text"
                          cols="30"
                          rows="10"
                          class="md:w-3/4 p-2 rounded-md shadow-md border border-gray-200"></textarea>
                <input type="hidden" name="course" value="{{ course.pk }}"/>
                <button type="submit"
                        id="submit-comment"
                        class="flex flex-row items-center justify-center px-2 mt-2 rounded-md shadow-md border border-gray-200 bg-indigo-600 hover:bg-indigo-500">
                    <p class="text-lg font-bold text-white">Enviar</p>
                </button>
            </form>
        {% endif %}
        <div class="flex flex-col justify-center items-center w-10/12 md:w-9/12">
            {% for comment in comments %}
                <div class="flex flex-col my-6 space-y-4 p-4 border border-gray-200 shadow-md rounded-xl w-full md:w-1/3">
                    <div class="flex justify-between">
                        <p class="text-md font-bold text-gray-800">{{ comment.course }}</p>
                        <div class="flex flex-col-reverse space-x-1 md:flex-row">
                            {% if comment.user == user %}
                                <button class="flex flex-row items-center justify-center ml-1 px-2 rounded-md shadow-md border border-gray-200 bg-indigo-600 hover:bg-indigo-500 text-lg font-bold text-white"
                                        data-comment-id="{{ comment.pk }}"
                                        id="toggle-edit-comment-form">
                                    <p>📝</p>
                                </button>
                            {% endif %}
                        </div>
                    </div>
                    <div>
                        <p class="text-lg text-gray-800">{{ comment.text|linebreaksbr }}</p>
                    </div>
                    <div class="flex justify-between items-center">
                        <div class="flex flex-row">
                            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                            <path stroke-linecap="round" stroke-linejoin="round" d="M12 6v6h4.5m4.5 0a9 9 0 11-18 0 9 9 0 0118 0z" />
                            </svg>
                            <p class="text-md text-gray-800">{{ comment.time_since_str }}</p>
                        </div>
                        {% if user.is_authenticated %}
                        <div class="flex flex-row items-center space-x-2">
                            <p class="text-lg font-bold text-gray-900">{{ comment.score }}</p>
                            <button class="flex flex-row items-center like-button"
                                    data-comment-id="{{ comment.pk }}">
                                <svg xmlns="http://www.w3.org/2000/svg"
                                    viewBox="0 0 20 20"
                                    fill="currentColor"
                                    class="w-5 h-5">
                                    <path fill-rule="evenodd" d="M10 17a.75.75 0 01-.75-.75V5.612L5.29 9.77a.75.75 0 01-1.08-1.04l5.25-5.5a.75.75 0 011.08 0l5.25 5.5a.75.75 0 11-1.08 1.04l-3.96-4.158V16.25A.75.75 0 0110 17z" clip-rule="evenodd" />
                                </svg>
                            </button>
                            <button class="flex flex-row items-center ml-1 dislike-button"
                                    data-comment-id="{{ comment.pk }}">
                                <svg xmlns="http://www.w3.org/2000/svg"
                                    viewBox="0 0 20 20"
                                    fill="currentColor"
                                    class="w-5 h-5">
                                    <path fill-rule="evenodd" d="M10 3a.75.75 0 01.75.75v10.638l3.96-4.158a.75.75 0 111.08 1.04l-5.25 5.5a.75.75 0 01-1.08 0l-5.25-5.5a.75.75 0 111.08-1.04l3.96 4.158V3.75A.75.75 0 0110 3z" clip-rule="evenodd" />
                                </svg>
                            </button>
                        </div>
                        {% else %}
                        <div class="flex flex-row items-center">
                            <p class="text-lg font-bold text-gray-900">{{ comment.score }}</p>
                            <svg xmlns="http://www.w3.org/2000/svg"
                                 viewBox="0 0 20 20"
                                 fill="currentColor"
                                 class="w-5 h-5">
                                <path fill-rule="evenodd" d="M10 17a.75.75 0 01-.75-.75V5.612L5.29 9.77a.75.75 0 01-1.08-1.04l5.25-5.5a.75.75 0 011.08 0l5.25 5.5a.75.75 0 11-1.08 1.04l-3.96-4.158V16.25A.75.75 0 0110 17z" clip-rule="evenodd" />
                            </svg>
                        </div>
                        {% endif %}
                    </div>
                    {% if comment.user == user %}
                        <form action="{% url 'comments:comment_edit' comment.pk %}"
                              method="post"
                              class="hidden flex-col justify-center items-center mt-4"
                              id="edit-comment-form">
                            {% csrf_token %}
                            <label for="comment" class="sr-only">Comentario</label>
                            <textarea name="text"
                                      id="edit-comment-text"
                                      cols="30"
                                      rows="10"
                                      class="w-full p-2 rounded-md shadow-md border border-gray-200"
                                      value>{{comment.text}}</textarea>
                            <button type="submit"
                                    id="submit-comment"
                                    class="flex flex-row items-center justify-center px-2 mt-2 rounded-md shadow-md border border-gray-200 bg-indigo-600 hover:bg-indigo-500">
                                <p class="text-lg font-bold text-white">editar</p>
                            </button>
                        </form>
                    {% endif %}
                </div>
            {% endfor %}
            {% if comments|length == 0 %}
                <div class="flex flex-col justify-center items-center w-3/4">
                    <p class="text-gray-400 text-center mt-12">
                        No hay comentarios disponibles
                    </p>
                </div>
            {% endif %}
        </div>
    </section>
{% endblock content %}
{% block scripts %}
    <script>var csrftoken = '{{ csrf_token }}';</script>
    <script src="{% static 'js/course.js' %}"></script>
    <script src="{% static 'js/likedislike.js' %}"></script>
{% endblock scripts %}
