{% extends "base.html" %}
{% block head %}
    {% load static %}
{% endblock head %}
{% block controls %}
    {% include "controls/course_list_controls.html" %}
{% endblock controls %}
{% block content %}
    <!-- Course List Section -->
    <section>
        <h1 class="text-3xl font-bold text-gray-900 text-center my-2">Lista de Cursos</h1>
        <div class="container flex flex-col md:flex-row md:flex-wrap md:mx-auto md:items-center md:justify-center">
            {% for course in courses %}
                <div class="flex toggle course flex-col rounded-lg p-6 m-4 shadow-md border border-gray-200 md:hover:bg-gray-200 md:w-3/12 md:hover:animate-pulse"
                     data-college="{{ course.college }}"
                     data-department="{{ course.department }}"
                     data-name="{{ course.name }}"
                     data-codification="{{ course.codification }}">
                    <a href="{{ course.pk }}" class="space-y-2">
                        <!-- header -->
                        <div class="flex flex-col space-x-1 items-start md:text-2xl">
                            <p class="font-bold text-gray-900">{{ course.name }}</p>
                        </div>
                        <!-- diving line -->
                        <!-- body -->
                        <div class="flex flex-col justify-start items-start md:text-md">
                            <p class="flex flex-row">
                                <span class="font-bold text-gray-700">Universidad:</span> <span class="text-gray-600">{{ course.college }}</span>
                            </p>
                            <p>
                                <span class="font-bold text-gray-700">Departamento:</span> <span class="text-gray-600">{{ course.department }}</span>
                            </p>
                            <p>
                                <span class="font-bold text-gray-700">Profesor:</span> <span class="text-gray-600">{{ course.professor }}</span>
                            </p>
                            <p>
                                <span class="font-bold text-gray-700">Codificación:</span> <span class="text-gray-600">{{ course.codification }}</span>
                            </p>
                        </div>
                    </a>
                </div>
            {% endfor %}
        </div>
        </section>
    {% endblock content %}
    {% block scripts %}
        <script src="{% static 'js/course-filter.js' %}"></script>
    {% endblock scripts %}
