<!-- Centered Section with 3 divs, one for two select buttons, one in the middle for a search bar, and another one with a link for adding new professors -->
<section class="container flex  flex-col md:flex-row bg-gray-100 md:rounded-xl mx-auto md:justify-center md:items-center md:space-x-4 md:p-6 my-8">
    <!-- Two selects, for college and department -->
    <div class="flex flex-row justify-around space-x-4 p-2 mt-2 md:justify-center items-center">
        <div class="flex flex-col md:justify-center md:items-center md:space-x-4">
            <label for="college" class="text-gray-700 font-bold">Universidad</label>
            <select name="college"
                    id="college_filter"
                    class="border border-gray-300 rounded-md p-2 md:px-8">
                <option value="">
                    Todas
                </option>
                {% for college in universities %}
                    <option value="{{ college }}">
                        {{ college|truncatechars:20 }}
                    </option>
                {% endfor %}
            </select>
        </div>
        <div class="flex flex-col justify-center items-center md:space-x-4">
            <label for="department" class="text-gray-700 font-bold">Departamento</label>
            <select name="department"
                    id="department_filter"
                    class="border border-gray-300 rounded-md p-2 min-w-0 md:px-8">
                <option value="">
                    Todas
                </option>
                {% for department in departments %}
                    <option value="{{ department }}">
                        {{ department|truncatechars:20 }}
                    </option>
                {% endfor %}
            </select>
        </div>
    </div>
    <!-- Centralized search bar with 90% width on mobile -->
    <div class="flex flex-col justify-around p-2 mt-2 items-center mb-4 md:mb-0">
        <label for="search" class="text-gray-700 font-bold">Buscar</label>
        <div class="w-full flex justify-center items-center">
            <input type="search"
                   name="search"
                   id="search-bar"
                   class="border border-gray-300 rounded-md p-2 mx-auto w-11/12"/>
        </div>
    </div>
</section>
