<!DOCTYPE html>
<html lang="es-ES">
    <head>
        {% load static %}
        {% load static tailwind_tags %}
        {% block title %} {% endblock title %}
        <!-- <title><title/> -->
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta name="title" content="ProfeRank"/>
        <meta name="description" content="El mejor lugar para eligir tus cursos con los mejores profesores en Puerto Rico!"/>
        <meta name="keywords" content="UPR, Inter, UAGM"/>
        <meta name="robots" content="index, follow"/>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
        <meta name="language" content="Spanish"/>
        <meta name="revisit-after" content="2 days"/>

        {% tailwind_css %}
        {% block head %}
        {% endblock head %}
        <link rel="shortcut icon" type="image/png" href="{% static 'favicon.ico' %}"/>
        <!-- Google tag (gtag.js) -->
        <script async src="https://www.googletagmanager.com/gtag/js?id=G-49VH3D2PXT"></script>
        <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'G-49VH3D2PXT');
        </script>
    </head>
    <body class="flex flex-col min-h-screen">
        {% include "navbar.html" %}
        <div class="controls">
            {% block controls %}{% endblock controls %}
        </div>
        <div class="content">
            {% block content %}{% endblock content %}
        </div>
        {% include "footer.html" %}
        {% block scripts %}{% endblock scripts %}
        <script src="{% static 'js/navbar.js' %}"></script>
    </body>
</html>
