<!DOCTYPE html>
<html lang="en">
    <head>
        {% load static %}
        {% load static tailwind_tags %}
        <title>{% block title %}{% endblock %}</title>
        <meta name="description" content="{% block description %}{% endblock %}" />
        <meta name="keywords" content="{% block keywords %}{% endblock %}" />
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        {% tailwind_css %}
        {% block head %}
        {% endblock %}
    </head>
    <body class="flex flex-col min-h-screen">
        {% include 'navbar.html' %}
        <div class="controls">
            {% block controls %}{% endblock %}
        </div>
        <div class="content">
            {% block content %}{% endblock %}
        </div>
        {% include 'footer.html' %}
        {% block scripts %}{% endblock %}
        <script src="{% static 'js/navbar.js' %}"></script>
    </body>
</html>
