{% load static %}
<footer class="flex flex-col justify-center items-center space-y-2 mt-auto mb-1">
    <!-- links -->
    <div class="flex justify-between items-center space-x-2">
        <a href="#" class="hover:text-indigo-300">About</a>
        <a href="#" class="text-indigo-600 hover:text-indigo-300">Sugerencias</a>   
        <a href="#" class="hover:text-indigo-300">Contact</a>
    </div>
    <!-- social links -->
    <div class="flex justify-center items-start">
        <!-- twitter -->
        <a href="https://twitter.com/jasiel_rt95" class="mx-2">
            <img src="{% static 'img/twitter.png' %}" alt="twitter" class="w-6 h-6"/>   
        </a>
        <!-- instagram -->
        <a href="https://www.instagram.com/jasiel_rt95/" class="mx-2">
            <img src="{% static 'img/instagram.png' %}" alt="instagram" class="w-6 h-6"/>
        </a>
        <!-- linkedin -->
        <a href="https://www.linkedin.com/in/jasielrivera/" class="mx-2">
            <img src="{% static 'img/linkedin.png' %}" alt="linkedin" class="w-6 h-6"/>
        </a>
    </div>
</footer>
