{% load static %}
<footer class="flex flex-col justify-center items-center space-y-2 mt-auto p-4">
    <div class="flex justify-between items-center text-2xl">
        <a href="{% url 'home:about' %}" class="hover:text-indigo-300 mx-2">About</a>
        <a href="{% url 'reviews:suggestions' %}?next={{ request.path }}" class="text-indigo-600 hover:text-indigo-300 mx-2">Sugerencias</a>   
        <a href="#" class="hover:text-indigo-300 mx-2">Contact</a>
    </div>
    <div class="flex justify-evenly items-start w-[320px]">
        <a href="https://twitter.com/jasiel_rt95" class="mx-2">
            <img src="{% static 'img/twitter.png' %}" alt="twitter" class="w-9 h-9" width="36px" height="36px"/>   
        </a>
        <a href="https://github.com/jasielrt95/Proferank" class="mx-2">
            <img src="{% static 'img/github.png' %}" alt="instagram" class="w-9 h-9" width="36px" height="36px"/>
        </a>
        <a href="https://www.linkedin.com/in/jasielrivera/" class="mx-2">
            <img src="{% static 'img/linkedin.png' %}" alt="linkedin" class="w-9 h-9" width="36px" height="36px"/>
        </a>
    </div>
</footer>
