{% if user.is_authenticated %}
    <nav class="navbar navbar-dark bg-dark">
        <div class="container-fluid">
            <a class="navbar-brand" href="{% url 'home:index' %}">Iupi Hub</a>
            <ul class="nav justify-content-end">
                <li class="nav-item">
                    <a class="nav-link active"
                       aria-current="page"
                       href="{% url 'home:index' %}">Home</a
                        >
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'courses:all_courses' %}">Courses</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'professors:all_professors' %}">Profesores</a
                            >
                        </li>
                    </ul>
                </div>
            </nav>
        {% else %}
            <nav class="navbar navbar-dark bg-dark">
                <div class="container-fluid">
                    <a class="navbar-brand" href="#">Iupi Hub</a>
                    <ul class="nav justify-content-end">
                        <li class="nav-item">
                            <a class="nav-link active"
                               aria-current="page"
                               href="{% url 'home:index' %}">Home</a
                                >
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="{% url 'courses:all_courses' %}">Courses</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="{% url 'professors:all_professors' %}">Profesores</a
                                    >
                                </li>
                                <li>
                                    <div class="login-buttons">
                                        <a href="{% url 'accounts:login' %}">
                                            <button class="btn btn-outline-light" type="button">Log In</button>
                                        </a>
                                        <a href="{% url 'accounts:register' %}">
                                            <button class="btn btn-outline-light" type="button">Register</button>
                                        </a>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </nav>
                {% endif %}
